@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.FooterBG {
  background: radial-gradient(ellipse, #ff6b6b, #f7d123)
}

*{
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

::-webkit-scrollbar{
  width: 0px;
}